<script type='text/javascript'>

    $(document).ready(function () {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $( ".draggable-calendars .draggable-calendar" ).draggable({
            appendTo: "#calendar",
            helper: "clone"
        });

        $('#calendar').fullCalendar({
            timeFormat: 'H(:mm)',
            firstDay: 1,//monday
            weekMode: 'variable',
            year: {{ date.year }},
            month: {{ date.month }}-1,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: true,
            droppable: true,
            selectable: true, //Allows a user to highlight multiple days or timeslots by clicking and dragging.
            selectHelper: true,

            viewDisplay: function (view) {
                $('#calendar').fullCalendar('refetchEvents');
            },

            eventSources: [
                {% for cal in calendars %}
                {
                    url: '{% url 'fullcalendar:event-source' %}',
                    type: 'POST',
                    data: {
                        calendar_slug: '{{ cal.slug }}'
                    },
                    color: '{{ cal.get_color_display }}'
                }{% if forloop.last %}{% else %},{% endif %}
                {% endfor %}
            ],

            eventRender: function(event, element) {
                var del_url = "{% url 'fullcalendar:event-delete' 0 %}".replace(0, event['event_id']);
                element.children(".fc-event-inner").append("<span><a class=\"fc-event-delete\" href=\""+del_url+"\">X</a></span>");

            },

            select: function (startDate, endDate, allDay, jsEvent, view) {
                if (view.name = 'month') {
                    startDate.setHours(12);
                    startDate.setMinutes(00);
                    endDate.setHours(12);
                    endDate.setMinutes(30);
                }
                var start = Math.round(startDate.getTime() / 1000);
                var end = Math.round(endDate.getTime() / 1000);
                var url = '{% url 'fullcalendar:event-create' %}';
                $.facebox(function(){
                    $.get(
                            "{% url 'fullcalendar:event-create' %}",
                            {
                                'start': start,
                                'end': end
                            },
                            function (data, textStatus, jqXHR) {
                                $.facebox(data);
                            },
                            'html'
                    );
                });
            },

            drop: function(date, allDay) {
                console.log("dropped");
                var calendar_pk = $(this).attr('data-id');
                var start = Math.round(date.getTime() / 1000);
                var end = Math.round(date.getTime() / 1000);
                var url = '{% url 'fullcalendar:event-create' %}';
                $.facebox(function(){
                    $.get(
                            "{% url 'fullcalendar:event-create' %}",
                            {
                                'calendar': calendar_pk,
                                'start': start,
                                'end': end
                            },
                            function (data, textStatus, jqXHR) {
                                $.facebox(data);
                            },
                            'html'
                    );
                });
            },

            eventClick: function (event, element) {
                $.facebox(function(){
                    $.get(
                            "{% url 'fullcalendar:event-update' 0 %}".replace(0, event['event_id']),
                            {},
                            function (data, textStatus, jqXHR) {
                                $.facebox(data);
                            },
                            'html'
                    );
                });
            },

            eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
                $.facebox(function(){
                    $.get(
                            "{% url 'fullcalendar:event-update' 0 %}".replace(0, event['event_id']),
                            {
                                'action_type': 'dragged',
                                'day_delta': dayDelta
                            },
                            function (data, textStatus, jqXHR) {
                                $.facebox(data);
                            },
                            'html'
                    );
                });
            },

            eventResize: function( event, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view ) {
                $.facebox(function(){
                    $.get(
                            "{% url 'fullcalendar:event-update' 0 %}".replace(0, event['event_id']),
                            {
                                'action_type': 'resized',
                                'day_delta': dayDelta
                            },
                            function (data, textStatus, jqXHR) {
                                $.facebox(data);
                            },
                            'html'
                    );
                });
            }

        });
    });

</script>
